<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.qhit.produceReport.dao.IProduceReportDao">
	<resultMap id="BaseResultMap" type="com.qhit.produceReport.pojo.ProduceReport"> 
		<id property="reportid" column="reportid" javaType="java.lang.Integer"></id> 
		<result property="shipname" column="shipname" javaType="java.lang.String"></result> 
		<result property="capacity" column="capacity" javaType="java.lang.Float"></result> 
		<result property="planjobtime" column="planjobtime" javaType="java.lang.String"></result> 
		<result property="startjobtime" column="startjobtime" javaType="java.lang.String"></result> 
		<result property="completetime" column="completetime" javaType="java.lang.String"></result> 
		<result property="flowid" column="flowid" javaType="java.lang.Integer"></result> 
		<result property="reportuser" column="reportuser" javaType="java.lang.String"></result> 
		<result property="compid" column="compid" javaType="java.lang.Integer"></result> 
		<result property="compname" column="compname" javaType="java.lang.String"></result>
		<result property="flowname" column="flowname" javaType="java.lang.String"></result>
		<result property="status" column="status" javaType="java.lang.String"></result>
		<result property="dljname" column="dljname" javaType="java.lang.String"></result>
		<result property="zcjname" column="zcjname" javaType="java.lang.String"></result>
		<result property="pdjname" column="pdjname" javaType="java.lang.String"></result>
		<result property="dev" column="dev" javaType="java.lang.String"></result>
		<result property="bfamount" column="bfamount" javaType="java.lang.String"></result>
	</resultMap>
	<sql id="Base_Column_List" > 
		reportid,shipname,capacity,planjobtime,startjobtime,completetime,flowid,reportuser,compid 
	</sql> 
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		SELECT ppt.*,bdv1.devname AS dljname,bdv2.devname AS zcjname,bdv3.devname AS pdjname
		FROM produce_report ppt
		LEFT JOIN base_flow bf ON ppt.flowid=bf.flowid
		LEFT JOIN base_device bdv1 ON bdv1.devid=bf.dljid
		LEFT JOIN base_device bdv2 ON bdv2.devid=bf.pdjid
		LEFT JOIN base_device bdv3 ON bdv3.devid=bf.zcjid
		where ppt.reportid = #{reportid}
	</select> 
	<delete id="delete" parameterType="java.lang.Integer" > 
		delete from produce_report 
		where reportid = #{reportid} 
	</delete> 
	<insert id="insert" parameterType="com.qhit.produceReport.pojo.ProduceReport" > 
		insert into produce_report(shipname,capacity,planjobtime,startjobtime,completetime,flowid,reportuser,compid) 
		values (#{shipname},#{capacity},#{planjobtime},#{startjobtime},#{completetime},#{flowid},#{reportuser},#{compid}) 
	</insert> 
	<update id="updateSelective" parameterType="com.qhit.produceReport.pojo.ProduceReport" > 
		update produce_report 
		<set > 
			<if test="shipname != null and shipname!='' " > 
				shipname = #{shipname}, 
			</if> 
			<if test="capacity != null and capacity!='' " > 
				capacity = #{capacity}, 
			</if> 
			<if test="planjobtime != null and planjobtime!='' " > 
				planjobtime = #{planjobtime}, 
			</if> 
			<if test="startjobtime != null and startjobtime!='' " > 
				startjobtime = #{startjobtime}, 
			</if> 
			<if test="completetime != null and completetime!='' " > 
				completetime = #{completetime}, 
			</if> 
			<if test="flowid != null and flowid!='' " > 
				flowid = #{flowid}, 
			</if> 
			<if test="reportuser != null and reportuser!='' " > 
				reportuser = #{reportuser}, 
			</if> 
			<if test="compid != null and compid!='' " > 
				compid = #{compid}, 
			</if> 
		</set> 
		where reportid = #{reportid} 
	</update> 
	<update id="update" parameterType="com.qhit.produceReport.pojo.ProduceReport" > 
		update produce_report 
		set  shipname = #{shipname}, capacity = #{capacity}, planjobtime = #{planjobtime}, startjobtime = #{startjobtime}, completetime = #{completetime}, flowid = #{flowid}, reportuser = #{reportuser}, compid = #{compid} 
		where reportid = #{reportid} 
	</update> 
	<select id="findAll" resultMap="BaseResultMap" > 
		SELECT *,CASE
		  WHEN prt.startjobtime IS NULL THEN '未完成'
		  WHEN prt.completetime IS NULL THEN '作业中'
		  ELSE '已完成'
		END
		AS STATUS
		 FROM produce_report prt
		LEFT JOIN base_company bc
		ON prt.compid=bc.compid
		LEFT JOIN base_flow bf
		ON prt.flowid=bf.flowid
	</select>
	<select id="findSAll" resultMap="BaseResultMap" >
		SELECT *,CASE
		  WHEN prt.startjobtime IS NULL THEN '未完成'
		  WHEN prt.completetime IS NULL THEN '作业中'
		  ELSE '已完成'
		END
		AS STATUS FROM produce_report prt
		LEFT JOIN base_company bc
		ON prt.compid=bc.compid
		LEFT JOIN base_flow bf
		ON prt.flowid=bf.flowid
	</select>
	<select id="findByShipname" resultMap="BaseResultMap" parameterType="java.lang.String" > 
		select 
		<include refid="Base_Column_List" /> 
		from produce_report 
		where shipname = #{shipname} 
	</select> 
	<select id="findByCapacity" resultMap="BaseResultMap" parameterType="java.lang.Float" > 
		select 
		<include refid="Base_Column_List" /> 
		from produce_report 
		where capacity = #{capacity} 
	</select> 
	<select id="findByPlanjobtime" resultMap="BaseResultMap" parameterType="java.lang.String" > 
		select 
		<include refid="Base_Column_List" /> 
		from produce_report 
		where planjobtime = #{planjobtime} 
	</select> 
	<select id="findByStartjobtime" resultMap="BaseResultMap" parameterType="java.lang.String" > 
		select 
		<include refid="Base_Column_List" /> 
		from produce_report 
		where startjobtime = #{startjobtime} 
	</select> 
	<select id="findByCompletetime" resultMap="BaseResultMap" parameterType="java.lang.String" > 
		select 
		<include refid="Base_Column_List" /> 
		from produce_report 
		where completetime = #{completetime} 
	</select> 
	<select id="findByFlowid" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from produce_report 
		where flowid = #{flowid} 
	</select> 
	<select id="findByReportuser" resultMap="BaseResultMap" parameterType="java.lang.String" > 
		select 
		<include refid="Base_Column_List" /> 
		from produce_report 
		where reportuser = #{reportuser} 
	</select> 
	<select id="findByCompid" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from produce_report 
		where compid = #{compid} 
	</select> 
	<delete id="deleteBatch" parameterType="java.util.Arrays"> 
		delete from produce_report where reportid in 
		<foreach collection="array" item="id" open="(" close=")" separator=","> 
			#{id} 
		</foreach> 
	</delete> 
	<select id="search" parameterType="com.qhit.produceReport.pojo.ProduceReport" resultMap="BaseResultMap">
		SELECT * FROM produce_report prt
		LEFT JOIN base_company bc
		ON prt.compid=bc.compid
		LEFT JOIN base_flow bf
		ON prt.flowid=bf.flowid
		<where > 
			<if test="shipname != null and shipname!='' " > 
				 and prt.shipname = #{shipname}
			</if> 
			<if test="capacity != null and capacity!='' " > 
				 and prt.capacity = #{capacity}
			</if> 
			<if test="planjobtime != null and planjobtime!='' " > 
				 and prt.planjobtime = #{planjobtime}
			</if> 
			<if test="startjobtime != null and startjobtime!='' " > 
				 and prt.startjobtime = #{startjobtime}
			</if> 
			<if test="completetime != null and completetime!='' " > 
				 and prt.completetime = #{completetime}
			</if> 
			<if test="flowid != null and flowid!='' " > 
				 and prt.flowid = #{flowid}
			</if> 
			<if test="reportuser != null and reportuser!='' " > 
				 and prt.reportuser = #{reportuser}
			</if> 
			<if test="compid != null and compid!='' " > 
				 and prt.compid = #{compid}
			</if> 
		</where> 
	</select>


	<select id="selectModel" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT bdv.devname AS dev,ROUND(SUM(pj.amount),3) AS amount
		FROM base_device bdv
		LEFT JOIN produce_job pj ON bdv.devid = pj.`devid`
		LEFT JOIN produce_report pr ON pr.reportid=pj.reportid
		LEFT JOIN base_flow bf ON bf.flowid=pr.flowid
		WHERE YEAR(pj.starttime)=#{year} AND  bf.flowid =#{baseFlow.flowid}
		GROUP BY bdv.`devid`
	</select>
</mapper> 
