<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.qhit.energyConsume.dao.IEnergyConsumeDao">
	<resultMap id="BaseResultMap" type="com.qhit.energyConsume.pojo.EnergyConsume">
		<id property="consumeid" column="consumeid" javaType="java.lang.Integer"></id> 
		<result property="devid" column="devid" javaType="java.lang.Integer"></result> 
		<result property="electric" column="electric" javaType="java.lang.Double"></result> 
		<result property="water" column="water" javaType="java.lang.Double"></result> 
		<result property="oil" column="oil" javaType="java.lang.Double"></result> 
		<result property="reportid" column="reportid" javaType="java.lang.Integer"></result>
		<result property="months" column="months" javaType="java.lang.String"></result>
		<result property="amounts" column="amounts" javaType="java.lang.String"></result>
		<result property="names" column="names" javaType="java.lang.String"></result>
		<result property="typename" column="typename" javaType="java.lang.String"></result>
		<result property="devname" column="devname" javaType="java.lang.String"></result>
	</resultMap>

	<sql id="Base_Column_List" > 
		consumeid,devid,electric,water,oil,reportid 
	</sql> 
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from energy_consume 
		where consumeid = #{consumeid} 
	</select>


	<select id="flowConsume" resultMap="BaseResultMap" >
		SELECT fa.compid,bf.flowname AS NAMES,fa.amounts
	FROM base_flow bf
	    JOIN(
		SELECT fa.compid,fa.flowid,fa.flowname,CONCAT(fa.a,',',fa.b,',',fa.c,',',fa.d,',',fa.e,',',fa.f,',',fa.g,',',fa.h,',',fa.i,',',fa.j,',',fa.k,',',fa.l) AS amounts
			FROM(
				SELECT bf.compid,bf.flowid,bf.flowname,
		SUM(CASE
			WHEN MONTH(pr.completetime)=1 THEN IFNULL(ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47,0)
			ELSE 0 END) 'a',
		SUM(CASE WHEN MONTH(pr.completetime)=2 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'b',
		SUM(CASE WHEN MONTH(pr.completetime)=3 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'c',
		SUM(CASE WHEN MONTH(pr.completetime)=4 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'd',
		SUM(CASE WHEN MONTH(pr.completetime)=5 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'e',
		SUM(CASE WHEN MONTH(pr.completetime)=6 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'f',
		SUM(CASE WHEN MONTH(pr.completetime)=7 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'g',
		SUM(CASE WHEN MONTH(pr.completetime)=8 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'h',
		SUM(CASE WHEN MONTH(pr.completetime)=9 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'i',
		SUM(CASE WHEN MONTH(pr.completetime)=10 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'j',
		SUM(CASE WHEN MONTH(pr.completetime)=11 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'k',
		SUM(CASE WHEN MONTH(pr.completetime)=12 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'l'
		FROM produce_report pr
				RIGHT OUTER JOIN base_flow bf ON pr.flowid=bf.flowid AND YEAR(pr.completetime)=#{year}
				RIGHT OUTER JOIN energy_consume ec ON pr.reportid=ec.reportid
			GROUP BY bf.flowid) AS fa) AS fa ON bf.flowid=fa.flowid
			WHERE bf.compid=#{compid}
	</select>
	<select id="electricConsume" resultMap="BaseResultMap" parameterType="com.qhit.energyConsume.pojo.EnergyConsume" >
		SELECT fa.compid,fa.compname AS NAMES,fa.amounts FROM base_device bde JOIN (
SELECT fa.compid,fa.compname,CONCAT(fa.a,',',fa.b,',',fa.c,',',fa.d,',',fa.e,',',fa.f,',',fa.g,',',fa.h,',',fa.i,',',fa.j,',',fa.k,',',fa.l) AS amounts
FROM(
SELECT bf.compid,bc.compname,
SUM(CASE WHEN MONTH(pr.completetime)=1 THEN ec.electric ELSE 0 END)'a',
SUM(CASE WHEN MONTH(pr.completetime)=2 THEN ec.electric ELSE 0 END) 'b',
SUM(CASE WHEN MONTH(pr.completetime)=3 THEN ec.electric ELSE 0 END) 'c',
SUM(CASE WHEN MONTH(pr.completetime)=4 THEN ec.electric ELSE 0 END) 'd',
SUM(CASE WHEN MONTH(pr.completetime)=5 THEN ec.electric ELSE 0 END) 'e',
SUM(CASE WHEN MONTH(pr.completetime)=6 THEN ec.electric ELSE 0 END) 'f',
SUM(CASE WHEN MONTH(pr.completetime)=7 THEN ec.electric ELSE 0 END) 'g',
SUM(CASE WHEN MONTH(pr.completetime)=8 THEN ec.electric ELSE 0 END) 'h',
SUM(CASE WHEN MONTH(pr.completetime)=9 THEN ec.electric ELSE 0 END) 'i',
SUM(CASE WHEN MONTH(pr.completetime)=10 THEN ec.electric ELSE 0 END) 'j',
SUM(CASE WHEN MONTH(pr.completetime)=11 THEN ec.electric ELSE 0 END) 'k',
SUM(CASE WHEN MONTH(pr.completetime)=12 THEN ec.electric ELSE 0 END) 'l'
FROM base_flow bf
		LEFT JOIN base_device bdv1 ON bdv1.devid=bf.dljid
		LEFT JOIN base_device bdv2 ON bdv2.devid=bf.pdjid
		LEFT JOIN base_device bdv3 ON bdv3.devid=bf.zcjid
		LEFT JOIN produce_report pr ON pr.flowid=bf.flowid AND YEAR(pr.completetime)=#{year}
		LEFT JOIN energy_consume ec ON pr.reportid=ec.reportid
		LEFT JOIN base_company bc ON bdv1.compid=bc.compid
		GROUP BY bc.compid) AS fa) AS fa ON bde.compid = fa.compid
		WHERE fa.compid=#{compid}
	</select>

	<select id="devTypeConsume" resultMap="BaseResultMap" parameterType="com.qhit.energyConsume.pojo.EnergyConsume" >
		SELECT fa.compid,fa.typename AS NAMES,fa.amounts FROM base_devtype bde JOIN
(SELECT fa.compid,fa.typeid,fa.typename,CONCAT(fa.a,',',fa.b,',',fa.c,',',fa.d,',',fa.e,',',fa.f,',',fa.g,',',fa.h,',',fa.i,',',fa.j,',',fa.k,',',fa.l) AS amounts
FROM(
SELECT bf.compid,bde.typeid,bde.typename,
SUM(CASE WHEN MONTH(pr.completetime)=1 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'a',
SUM(CASE WHEN MONTH(pr.completetime)=2 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'b',
SUM(CASE WHEN MONTH(pr.completetime)=3 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'c',
SUM(CASE WHEN MONTH(pr.completetime)=4 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'd',
SUM(CASE WHEN MONTH(pr.completetime)=5 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'e',
SUM(CASE WHEN MONTH(pr.completetime)=6 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'f',
SUM(CASE WHEN MONTH(pr.completetime)=7 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'g',
SUM(CASE WHEN MONTH(pr.completetime)=8 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'h',
SUM(CASE WHEN MONTH(pr.completetime)=9 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'i',
SUM(CASE WHEN MONTH(pr.completetime)=10 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'j',
SUM(CASE WHEN MONTH(pr.completetime)=11 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'k',
SUM(CASE WHEN MONTH(pr.completetime)=12 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'l'
FROM base_flow bf
		LEFT JOIN base_device bdv1 ON bdv1.devid=bf.dljid
		LEFT JOIN base_device bdv2 ON bdv2.devid=bf.pdjid
		LEFT JOIN base_device bdv3 ON bdv3.devid=bf.zcjid
		LEFT JOIN base_devtype bde ON bdv3.typeid=bde.typeid
		LEFT JOIN produce_report pr ON pr.flowid=bf.flowid AND YEAR(pr.completetime)=#{year}
		LEFT JOIN energy_consume ec ON pr.reportid=ec.reportid
		GROUP BY bde.typeid)AS fa) AS fa ON bde.typeid = fa.typeid
		WHERE fa.compid=#{compid}
	</select>


	<select id="devConsume" resultMap="BaseResultMap" parameterType="com.qhit.energyConsume.pojo.EnergyConsume" >

SELECT fa.compid,fa.devname AS NAMES,fa.amounts FROM base_device bde JOIN (
SELECT fa.compid,fa.devid,fa.devname,CONCAT(fa.a,',',fa.b,',',fa.c,',',fa.d,',',fa.e,',',fa.f,',',fa.g,',',fa.h,',',fa.i,',',fa.j,',',fa.k,',',fa.l) AS amounts
FROM(
SELECT bf.compid,bdv1.devid,bdv1.devname,
SUM(CASE WHEN MONTH(pr.completetime)=1 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'a',
SUM(CASE WHEN MONTH(pr.completetime)=2 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'b',
SUM(CASE WHEN MONTH(pr.completetime)=3 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'c',
SUM(CASE WHEN MONTH(pr.completetime)=4 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'd',
SUM(CASE WHEN MONTH(pr.completetime)=5 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'e',
SUM(CASE WHEN MONTH(pr.completetime)=6 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'f',
SUM(CASE WHEN MONTH(pr.completetime)=7 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'g',
SUM(CASE WHEN MONTH(pr.completetime)=8 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'h',
SUM(CASE WHEN MONTH(pr.completetime)=9 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'i',
SUM(CASE WHEN MONTH(pr.completetime)=10 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'j',
SUM(CASE WHEN MONTH(pr.completetime)=11 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'k',
SUM(CASE WHEN MONTH(pr.completetime)=12 THEN (ec.electric*4.40 + ec.water*0.26 + ec.oil*1.47) ELSE 0 END) 'l'
FROM base_flow bf
		LEFT JOIN base_device bdv1 ON bdv1.devid=bf.dljid
		LEFT JOIN base_device bdv2 ON bdv2.devid=bf.pdjid
		LEFT JOIN base_device bdv3 ON bdv3.devid=bf.zcjid
		LEFT JOIN produce_report pr ON pr.flowid=bf.flowid AND YEAR(pr.completetime)=#{year}
		LEFT JOIN energy_consume ec ON pr.reportid=ec.reportid
		GROUP BY bdv1.devid) AS fa) AS fa ON bde.compid = fa.compid
		WHERE fa.compid=#{compid};
	</select>

	<select id="oilConsume" resultMap="BaseResultMap" parameterType="com.qhit.energyConsume.pojo.EnergyConsume" >
			SELECT fa.compid,fa.compname AS NAMES,fa.amounts FROM base_device bde JOIN (
SELECT fa.compid,fa.compname,CONCAT(fa.a,',',fa.b,',',fa.c,',',fa.d,',',fa.e,',',fa.f,',',fa.g,',',fa.h,',',fa.i,',',fa.j,',',fa.k,',',fa.l) AS amounts
FROM(
SELECT bf.compid,bc.compname,
SUM(CASE WHEN MONTH(pr.completetime)=1 THEN ec.oil ELSE 0 END)'a',
SUM(CASE WHEN MONTH(pr.completetime)=2 THEN ec.oil ELSE 0 END) 'b',
SUM(CASE WHEN MONTH(pr.completetime)=3 THEN ec.oil ELSE 0 END) 'c',
SUM(CASE WHEN MONTH(pr.completetime)=4 THEN ec.oil ELSE 0 END) 'd',
SUM(CASE WHEN MONTH(pr.completetime)=5 THEN ec.oil ELSE 0 END) 'e',
SUM(CASE WHEN MONTH(pr.completetime)=6 THEN ec.oil ELSE 0 END) 'f',
SUM(CASE WHEN MONTH(pr.completetime)=7 THEN ec.oil ELSE 0 END) 'g',
SUM(CASE WHEN MONTH(pr.completetime)=8 THEN ec.oil ELSE 0 END) 'h',
SUM(CASE WHEN MONTH(pr.completetime)=9 THEN ec.oil ELSE 0 END) 'i',
SUM(CASE WHEN MONTH(pr.completetime)=10 THEN ec.oil ELSE 0 END) 'j',
SUM(CASE WHEN MONTH(pr.completetime)=11 THEN ec.oil ELSE 0 END) 'k',
SUM(CASE WHEN MONTH(pr.completetime)=12 THEN ec.oil ELSE 0 END) 'l'
FROM base_flow bf
		LEFT JOIN base_device bdv1 ON bdv1.devid=bf.dljid
		LEFT JOIN base_device bdv2 ON bdv2.devid=bf.pdjid
		LEFT JOIN base_device bdv3 ON bdv3.devid=bf.zcjid
		LEFT JOIN produce_report pr ON pr.flowid=bf.flowid AND YEAR(pr.completetime)=#{year}
		LEFT JOIN energy_consume ec ON pr.reportid=ec.reportid
		LEFT JOIN base_company bc ON bdv1.compid=bc.compid
		GROUP BY bc.compid) AS fa) AS fa ON bde.compid = fa.compid
		WHERE fa.compid=#{compid}
	</select>

	<select id="waterConsume" resultMap="BaseResultMap" parameterType="com.qhit.energyConsume.pojo.EnergyConsume" >
		SELECT fa.compid,fa.compname AS NAMES,fa.amounts FROM base_device bde JOIN (
SELECT fa.compid,fa.compname,CONCAT(fa.a,',',fa.b,',',fa.c,',',fa.d,',',fa.e,',',fa.f,',',fa.g,',',fa.h,',',fa.i,',',fa.j,',',fa.k,',',fa.l) AS amounts
FROM(
SELECT bf.compid,bc.compname,
SUM(CASE WHEN MONTH(pr.completetime)=1 THEN ec.water ELSE 0 END)'a',
SUM(CASE WHEN MONTH(pr.completetime)=2 THEN ec.water ELSE 0 END) 'b',
SUM(CASE WHEN MONTH(pr.completetime)=3 THEN ec.water ELSE 0 END) 'c',
SUM(CASE WHEN MONTH(pr.completetime)=4 THEN ec.water ELSE 0 END) 'd',
SUM(CASE WHEN MONTH(pr.completetime)=5 THEN ec.water ELSE 0 END) 'e',
SUM(CASE WHEN MONTH(pr.completetime)=6 THEN ec.water ELSE 0 END) 'f',
SUM(CASE WHEN MONTH(pr.completetime)=7 THEN ec.water ELSE 0 END) 'g',
SUM(CASE WHEN MONTH(pr.completetime)=8 THEN ec.water ELSE 0 END) 'h',
SUM(CASE WHEN MONTH(pr.completetime)=9 THEN ec.water ELSE 0 END) 'i',
SUM(CASE WHEN MONTH(pr.completetime)=10 THEN ec.water ELSE 0 END) 'j',
SUM(CASE WHEN MONTH(pr.completetime)=11 THEN ec.water ELSE 0 END) 'k',
SUM(CASE WHEN MONTH(pr.completetime)=12 THEN ec.water ELSE 0 END) 'l'
FROM base_flow bf
		LEFT JOIN base_device bdv1 ON bdv1.devid=bf.dljid
		LEFT JOIN base_device bdv2 ON bdv2.devid=bf.pdjid
		LEFT JOIN base_device bdv3 ON bdv3.devid=bf.zcjid
		LEFT JOIN produce_report pr ON pr.flowid=bf.flowid AND YEAR(pr.completetime)=#{year}
		LEFT JOIN energy_consume ec ON pr.reportid=ec.reportid
		LEFT JOIN base_company bc ON bdv1.compid=bc.compid
		GROUP BY bc.compid) AS fa) AS fa ON bde.compid = fa.compid
		WHERE fa.compid=#{compid}
	</select>



	<delete id="delete" parameterType="java.lang.Integer" > 
		delete from energy_consume 
		where consumeid = #{consumeid} 
	</delete> 
	<insert id="insert" parameterType="com.qhit.energyConsume.pojo.EnergyConsume" >
		insert into energy_consume(devid,electric,water,oil,reportid) 
		values (#{devid},#{electric},#{water},#{oil},#{reportid}) 
	</insert> 
	<update id="updateSelective" parameterType="com.qhit.energyConsume.pojo.EnergyConsume" >
		update energy_consume 
		<set > 
			<if test="devid != null and devid!='' " > 
				devid = #{devid}, 
			</if> 
			<if test="electric != null and electric!='' " > 
				electric = #{electric}, 
			</if> 
			<if test="water != null and water!='' " > 
				water = #{water}, 
			</if> 
			<if test="oil != null and oil!='' " > 
				oil = #{oil}, 
			</if> 
			<if test="reportid != null and reportid!='' " > 
				reportid = #{reportid}, 
			</if> 
		</set> 
		where consumeid = #{consumeid} 
	</update> 
	<update id="update" parameterType="com.qhit.energyConsume.pojo.EnergyConsume" >
		update energy_consume 
		set  devid = #{devid}, electric = #{electric}, water = #{water}, oil = #{oil}, reportid = #{reportid} 
		where consumeid = #{consumeid} 
	</update> 
	<select id="findAll" resultMap="BaseResultMap" > 
		SELECT * FROM energy_consume ec
		JOIN base_device bde ON bde.devid=ec.devid
		JOIN produce_report prt ON prt.reportid=ec.reportid
	</select> 
	<select id="findByDevid" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from energy_consume 
		where devid = #{devid} 
	</select> 
	<select id="findByElectric" resultMap="BaseResultMap" parameterType="java.lang.Double" > 
		select 
		<include refid="Base_Column_List" /> 
		from energy_consume 
		where electric = #{electric} 
	</select> 
	<select id="findByWater" resultMap="BaseResultMap" parameterType="java.lang.Double" > 
		select 
		<include refid="Base_Column_List" /> 
		from energy_consume 
		where water = #{water} 
	</select> 
	<select id="findByOil" resultMap="BaseResultMap" parameterType="java.lang.Double" > 
		select 
		<include refid="Base_Column_List" /> 
		from energy_consume 
		where oil = #{oil} 
	</select> 
	<select id="findByReportid" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from energy_consume 
		where reportid = #{reportid} 
	</select> 
	<delete id="deleteBatch" parameterType="java.util.Arrays"> 
		delete from energy_consume where consumeid in 
		<foreach collection="array" item="id" open="(" close=")" separator=","> 
			#{id} 
		</foreach> 
	</delete> 
	<select id="search" parameterType="com.qhit.energyConsume.pojo.EnergyConsume" resultMap="BaseResultMap">
		SELECT * FROM energy_consume ec
		JOIN base_device bde ON bde.devid=ec.devid
		JOIN produce_report prt ON prt.reportid=ec.reportid
		<where > 
			<if test="devid != null and devid!='' " > 
				 and devid = #{devid} 
			</if> 
			<if test="electric != null and electric!='' " > 
				 and electric = #{electric} 
			</if> 
			<if test="water != null and water!='' " > 
				 and water = #{water} 
			</if> 
			<if test="oil != null and oil!='' " > 
				 and oil = #{oil} 
			</if> 
			<if test="reportid != null and reportid!='' " > 
				 and reportid = #{reportid} 
			</if> 
		</where> 
	</select> 
</mapper> 
